html {
   background-color: #238c65;
}

hr {
   height: 2px;
   background-color: black;
   border: none;

}

#header {
   display: grid;
   grid-template-columns: 20% 80%;
   border-bottom: solid 1px black;
   text-align: justify;
   background-color: #289c71;
}

.head {
   text-align: center;
   border-bottom: solid 1px black;
}

.dashbody {
   display: grid;
   grid-template-columns: 10% 90%;

}

.nav {
   border-right: solid 1px black;
   border-radius: 4px;
   padding: 3px;
   margin: 5px;
   background-color: #289c71;
}

.dash {
   border: solid 1px black;
   border-radius: 4px;
   padding: 3px;
   margin: 5px;
   background-color: #289c71;
}

.exit {
   border-top: solid 1px black;
}

.Ticket {
   display: grid;
   grid-template-columns: 15% 35% 30% 20%;
}

.ticket {
   max-height: 0;
   overflow: hidden;
   color: white;
   margin: 1px;
   padding: 2px;
}


.ticketButton :hover {
   cursor: pointer;
   background-color: #016943;
   border-radius: 10px;
}

.ticketButton {
   width: 100%;
}

.button2 {
   display: flex;
   height: 80px;
   width: 120px;
   padding: 4px 4px;
   background: #04AA6D;
   border: none;
   outline: none;
   border-radius: 3px;
   overflow: hidden;
   font-family: sans-serif;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   margin: auto;
}

.button_text {
   display: inline-flex;
   align-items: center;
   padding: 0 15px;
   color: #fff;
   height: 100%;
}

.button:hover {
   background: #016943;
}

.button:active {
   background: #025134;
}

.button2_text {
   display: inline-flex;
   align-items: center;
   padding: 0 18px;
   color: #fff;
   height: 100%;
}

.button2:hover {
   background: #016943;
}

.button2:active {
   background: #025134;
}

.ticketbody {
   display: grid;
   grid-template-columns: 50% 50%;
   padding: auto;
   margin: auto;
   height: 80px;
}

.smallwidth {
   width: 40%;
   text-align: center;
}

.ticketbodydate {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   padding: auto;
   margin: auto;
   height: 70px;
}

/* The popup form - hidden by default */

.form-popup {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   border: 5px solid black;
}

/* Add styles to the form container */
.form-container {
   width: 450px;
   padding: 10px;
   background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=date] {
   width: 95%;
   padding: 11px;
   border: none;
   background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
   background-color: #04AA6D;
   color: white;
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   width: 100%;
   margin-top: 8px;
   opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
   background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
   opacity: 4;
}